@import "../../node_modules/material-design-icons/iconfont/material-icons.css";
@import '../../node_modules/d2-ui/scss/HeaderBar.scss';
@import './bootstrap.css';
@import '../components/SectionTable/SectionTable.css';

html {
    font-family: 'Roboto', sans-serif;
}

.content-body {
    font-size: 14px;
    margin-top: 3rem;
}

// Hide header bar and adjust layout when in global shell
body.embedded {
    margin-top: -48px !important;
}

body.embedded #app > div > div:nth-child(1) {
    display: none !important;
}

body.embedded #app > div > div.content-body > div:nth-child(1) > div > div {
    padding-top: 0 !important;
}

@media only screen and (min-width : 768px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

    .flex-row:before,
    .flex-row:after {
    content: initial;
    }

    .flex-row > .left-border {
      border-left: 1px solid;
    }
}
